/****** ALGEMENE HEADER STYLING ******/

    #logo{
        height: 50px;
    }

    #header-container{
        background-color: #E7E7DF;
        height: auto;
    }

    #curvy-line-div{
        display: block;
        margin-right: 60px;

    }

    .bird-animation {
    /* width: 100px; */
    height: 100px;
    /* position: relative;
    animation-name: birds;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; */
    }

    #bird-position{
        margin-top: 50px;
        
    }

    @keyframes birds {
    0%   { left:0px; top:0px;}
    25%  { left:0px; top:10px;}
    50%  { left:0px; top:25px;}
    75%  { left:0px; top:15px;}
    100% { left:0px; top:0px;}
    }

    .box1{
        width: 649px;
        height: 181px;
        background-color: #F1DCBF;


        margin-top: 90px;
        margin-left: 100px;
        transform: rotate(-5deg); 
    }

    .box2{
        width: 438px;
        height: 122px;
        background-color: #FF5B35;


        
        margin-left: 210px;
        transform: rotate(-5deg); 
    }

    #h1-blauw{
        color: #39BBD1;
        font-family: 'Comic Neue', cursive;
        font-weight: bold;
        text-align: center;
        padding-top: 60px;
    }

    #h1-oranje{
        color: #F1DCBF;
        font-family: 'Comic Neue', cursive;
        font-weight: bold;
        text-align: center;
        padding-top: 40px;
    }

/****** SECOND SEGMENT ******/
        #second-segment-row{
            margin-top: 50px;
        }

        #second-segment-col-1{
            /* margin-left: 185px; */
            border-right: 3px solid #F1DCBF;
        }

        #second-segment-col-2{
            margin-left: 165px;

        }

        #second-segment-col-inner{
            width: 500px;
            height: 302px;
        }

        .second-segment-p{
            font-family: sans-serif;
            font-size: 25;
            margin: auto;
            margin-top: 100px;
        }

        .second-segment-href{
            text-decoration: none;
            color: black;
            border-bottom: 2px solid #39BBD1 ;
        }

        #second-segment-h1{
            font-family: 'Comic Neue', cursive;
            font-weight: bold;
            font-size: 700;
            margin: auto;
        }

    /****** THIRD SEGMENT ******/

    /* Lazy Load Styles */
    .card-image {
        display: block;
        min-height: 20rem; /* layout hack */
        background: #fff center center no-repeat;
        background-size: cover;
        filter: blur(3px); /* blur the lowres image */
    }

    .card-image > img {
        display: block;
        width: 100%;
        opacity: 0; /* visually hide the img element */
    }

    .card-image.is-loaded {
        filter: none; /* remove the blur on fullres image */
        transition: filter 1s;
    }

    /* Layout Styles */
    .card-list {
        display: block;
        margin: 1rem auto;
        padding: 0;
        font-size: 0;
        text-align: center;
        list-style: none;
        font-family: 'Comic Neue', cursive;
    }

    .card {
        display: inline-block;
        width: 90%;
        max-width: 20rem;
        margin: 1rem;
        font-size: 1rem;
        text-decoration: none;
        overflow: hidden;
        box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
        transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    }

    #card-color-1{
        background-color: #39BBD1;
    }

    #card-color-2{
        background-color: #F1DCBF; 
    }

    #card-color-3{
        background-color: #FF5B35; 
    }

    .card:hover {
        transform: translateY(-0.5rem) scale(1.0125);
        box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
    }

    .card-description {
        display: block;
        padding: 1em 0.5em;
        color: #515151;
        text-decoration: none;
        border-top: 2px solid #515151;
    }

    .card-description > h2 {
        margin: 0 0 0.5em;
    }

    .card-description > p {
        margin: 0;
    }

 /****** FOURTH SEGMENT ******/

    .scroll-right {
    height: 50px;	
    overflow: hidden;
    position: relative;
    background: #007A39;
    color: white;
    border: 1px solid #007A39;
    }
    .scroll-right p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(-100%);
    -webkit-transform:translateX(-100%);	
    transform:translateX(-100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-right 15s linear infinite;
    -webkit-animation: scroll-right 15s linear infinite;
    animation: scroll-right 15s linear infinite;
    }
    /* Move it (define the animation) */
    @-moz-keyframes scroll-right {
    0%   { -moz-transform: translateX(-100%); }
    100% { -moz-transform: translateX(100%); }
    }
    @-webkit-keyframes scroll-right {
    0%   { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(100%); }
    }
    @keyframes scroll-right {
    0%   { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 		
    }
    100% { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 
    }
    }

